@import (reference) "/apps/plweb-dsys/clientlibs/clientlib-site/css/design-token-imports.less";
@import (reference) "/apps/plweb-dsys/clientlibs/clientlib-site/css/mixins.less";




.bulleted-list {
    &.cmp-list{
        .modifier(checkmarks,{
            .bullet-list {
                display: grid;
                gap: 10px;
                padding-left: 10px;
    
                .li-bullet-list {
                    list-style-type: none;
                    display:flex;
                    flex-direction: row;
                    gap: 10px;
                    .checkmark{
                        background-image: url(/etc.clientlibs/plweb-dsys/clientlibs/clientlib-site/resources/checkmark.svg);
                        width: 30px;
                        height: 30px;
                        min-width: 30px;
                    }
                    .list-text {
                        font-family: 'Open Sans';
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
            }
        });
        .modifier(numbers,{
            .bullet-list {
                counter-reset: li;
                list-style-type: none;
                font-size: 1rem;
                line-height: 18px;
                padding-left: 10px;
                font-weight: 700;
                display: grid;
                gap: 10px;
                li {
                    position: relative;
                    padding: 5px 0 5px 30px;
                    &:before {
                        content: counter(li);
                        counter-increment: li;
                        // height: 25px;
                        // width: 25px;
                        height: 36px;
                        width: 36px;
                        border-radius: 50%;
                        text-align: center;
                        position: absolute;
                        left: 0;
                        top: 5px;
                      
                        color: #0D65B3;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #E9F2FA;
                        min-width: 36px;
                    }
                    .list-text {
                        font-family: 'Open Sans';
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        display: block;
                        padding-left: 16px;
                    }
                }
            }
        });
    }

    .bulleted-list-wrapper {
        padding: 10px;

        .bullet-list {
            .modifier(one, {
                    grid-template-columns: auto;
                }
            );
            .modifier(two, {
                    gap: 10px;
                    grid-auto-flow: column;
                }

            );
            .modifier(three, {
                    gap: 10px;
                    grid-auto-flow: column;
                    grid-template-columns: auto auto auto;
                }

            );
        }
        .bullet-list-bullet {
            list-style-type: none;
            padding-left: 10px;
            display: grid;
            gap: 10px;
            li {
                position: relative;
                gap: 10px;
                display: flex;
                flex-direction: row;
                &:before {
                    content: "";
                    height: 15px;
                    width: 15px;
                    border-radius: 50%;
                    margin-top: 5px;
                    background-color: #0D65B3;
                    min-width: 15px;
                }
                .list-text {
                    font-family: 'Open Sans';
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }   
    }

}

@media @mediaMobile {
    .bullet-list{
        grid-template-columns: auto !important;
        grid-template-rows: repeat(1, auto) !important;
        gap: 10px !important;
        grid-auto-flow: row !important;
    }

    .bulleted-list {
        &.cmp-list{
            
            .modifier(numbers,{
                .bullet-list {
                    padding-left: 0px;
                }
            });
        }
    
        .bulleted-list-wrapper {
            padding: 0px;
            .bullet-list-bullet {
                padding-left: 0px;
                li {
                    padding-left: 0px;
                }
            }   
        }
    
    }
}

