@import (reference)  "/apps/plweb-dsys/clientlibs/clientlib-site/css/design-token-imports.less";
@import (reference) "/apps/plweb-dsys/clientlibs/clientlib-site/css/mixins.less";

.accordion{
    .modifier(dark,{
        .cmp-accordion{
            background: @blue800;
            border-radius: 16px;
            .element(title,{
                color: @textBodyDark;
            });
            .element(item,{
                padding-bottom: 20px;
                border-bottom: @hairline solid @textDisabledLight; 
                margin-bottom: 20px;

            });
            .element(panel,{

                color: @textBodyDark;
            });

            .cmp-accordion__button{
                &.cmp-accordion__button--expanded{
                    .cmp-accordion__icon{
                        background-image: url(/etc.clientlibs/plweb-dsys/clientlibs/clientlib-site/resources/angle-up-solid-light.svg);
                        height: 20px;
                        width: 20px;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
    });
    .modifier(light,{
        .cmp-accordion{
            background: @textBodyDark;
            border-radius: 16px;
            .element(title,{
                color: @textBodyLight;
            });
            .element(item,{
                border-bottom: @hairline solid @neutral200;
                padding-bottom: 20px;
                margin-bottom: 20px;


            });
            .element(panel,{
                
                color: @neutral1000;
            });

            .cmp-accordion__button{
                &.cmp-accordion__button--expanded{
                    .cmp-accordion__icon{
                        background-image: url(/etc.clientlibs/plweb-dsys/clientlibs/clientlib-site/resources/angle-up-solid-light.svg);
                        height: 20px;
                        width: 20px;
                        background-repeat: no-repeat;
                       filter: invert(57%) sepia(0%) saturate(1%) hue-rotate(297deg) brightness(100%) contrast(94%);
                    }

                }
            }
        }
       

    });

    .cmp-accordion{
        padding: 20px;
        
        .element(title,{
            width: 98%;
            .openSans;
            .fw-700;
            font-size: @productH3;
            line-height: 28px;
        });
        .element(icon,{
            background-image: url(/etc.clientlibs/plweb-dsys/clientlibs/clientlib-site/resources/angle-down-solid-light.svg);
            height: 20px;
            width: 20px;
            background-repeat: no-repeat;
        });
        .element(front-icon,{
            height: 18.87px;
            width: 18px;
            background-repeat: no-repeat;
            margin-right: 5px;
        });
    
        .element(button,{
            background-color: transparent;
            cursor: pointer;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            transition: 0.4s;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0;
        });
        .element(panel,{
            
            .openSans;
            .fw-400;
            font-size: @productBody;
            line-height: 24px;
            margin-top: 20px;
        });
        .cmp-accordion__item:last-child{
            margin-bottom: 0 !important;
        }
        .cmp-accordion__panel--expanded{
            display: none;
        }
        .cmp-accordion__panel--hidden{
            display: none;
        }

    }
}






