@import "/apps/plweb-dsys/clientlibs/clientlib-site/css/less-imports.less";

.section-container {
    .element(main, {
            .modifier(desktop-full-width, {
                .width-container {
                    max-width: none;
                    padding  : 0;
                }
            });

            .width-container {
                max-width    : 1440px;
                margin       : 0 auto;
                box-sizing   : content-box;
                padding-left : 5rem;
                padding-right: 5rem;
            }

            &.section-container {

                @media @mediaXS {
                    .modifier(mobile-top-no-space ,{
                        margin-top: 0;
                    });

                    .modifier(mobile-bottom-no-space ,{
                        margin-bottom: 0;
                    });

                    .modifier(mobile-top-verySmall ,{
                        margin-top: @16;
                    });

                    .modifier(mobile-bottom-verySmall ,{
                        margin-bottom: @16;
                    });

                    .modifier(mobile-top-small ,{
                        margin-top: @32;
                    });

                    .modifier(mobile-bottom-small ,{
                        margin-bottom: @32;
                    });

                    .modifier(mobile-top-medium ,{
                        margin-top: @64;
                    });

                    .modifier(mobile-bottom-medium ,{
                        margin-bottom: @64;
                    });

                    .modifier(mobile-top-large ,{
                        margin-top: @80;
                    });

                    .modifier(mobile-bottom-large ,{
                        margin-bottom: @80;
                    });

                    .modifier(mobile-top-extralarge ,{
                        margin-top: @160;
                    });

                    .modifier(mobile-bottom-extralarge ,{
                        margin-bottom: @160;
                    });
                }

                @media @mediaSMTillLG {
                    .modifier(tablet-top-no-space ,{
                        margin-top: 0;
                    });

                    .modifier(tablet-bottom-no-space ,{
                        margin-bottom: 0;
                    });

                    .modifier(tablet-top-verySmall ,{
                        margin-top: @16;
                    });

                    .modifier(tablet-bottom-verySmall ,{
                        margin-bottom: @16;
                    });

                    .modifier(tablet-top-small ,{
                        margin-top: @32;
                    });

                    .modifier(tablet-bottom-small ,{
                        margin-bottom: @32;
                    });

                    .modifier(tablet-top-medium ,{
                        margin-top: @64;
                    });

                    .modifier(tablet-bottom-medium ,{
                        margin-bottom: @64;
                    });

                    .modifier(tablet-top-large ,{
                        margin-top: @80;
                    });

                    .modifier(tablet-bottom-large ,{
                        margin-bottom: @80;
                    });

                    .modifier(tablet-top-extralarge ,{
                        margin-top: @160;
                    });

                    .modifier(tablet-bottom-extralarge ,{
                        margin-bottom: @160;
                    });
                }

                @media @mediaLG {
                    .modifier(desktop-top-no-space ,{
                        margin-top: 0;
                    });

                    .modifier(desktop-bottom-no-space ,{
                        margin-bottom: 0;
                    });

                    .modifier(desktop-top-verySmall ,{
                        margin-top: @16;
                    });

                    .modifier(desktop-bottom-verySmall ,{
                        margin-bottom: @16;
                    });

                    .modifier(desktop-top-small ,{
                        margin-top: @32;
                    });

                    .modifier(desktop-bottom-small ,{
                        margin-bottom: @32;
                    });

                    .modifier(desktop-top-medium ,{
                        margin-top: @64;
                    });

                    .modifier(desktop-bottom-medium ,{
                        margin-bottom: @64;
                    });

                    .modifier(desktop-top-large ,{
                        margin-top: @80;
                    });

                    .modifier(desktop-bottom-large ,{
                        margin-bottom: @80;
                    });

                    .modifier(desktop-top-extralarge ,{
                        margin-top: @160;
                    });

                    .modifier(desktop-bottom-extralarge ,{
                        margin-bottom: @160;
                    });
                }
            }
        }
    )
}