<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !title}"></sly>

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
    data-sly-call="${clientlib.all @ categories='plweb-dsys.intro-header'}" />

<div class="intro-header intro-header--bg-color-${properties.bgColor}">
    <div class="intro-header__title"
        data-sly-resource="${'title' @ resourceType='plweb-dsys/components/title/v1/title', decorationTagName='div'}"></div>

    <div class="intro-header__button-group">
        <div class="intro-header__primary-button"
             data-sly-resource="${'button1' @ resourceType='/apps/plweb-dsys/components/button/v1/button', decorationTagName='div'}"></div>
        <div class="intro-header__secondary-button"
             data-sly-resource="${'button2' @ resourceType='/apps/plweb-dsys/components/button/v1/button', decorationTagName='div'}"></div>
    </div>
</div>