@import (reference)  "/apps/plweb-dsys/clientlibs/clientlib-site/css/design-token-imports.less";
@import (reference) "/apps/plweb-dsys/clientlibs/clientlib-site/css/mixins.less";

@dropdown-box-shadow: 0 6px 12px rgba(0,0,0,0.18);

.topnav{
    background-color: @primaryDark;
    .element(main,{
        display: flex;
        align-items: center;
        height: 40px;
    });
    .element(all-sites,{
        border-width: 0px;
        outline: 0px;
        background: transparent;
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        padding-left: 0px;
        .caret{
            margin-left: @8;
            width: 10px;
            height: 5px;
            background-image: url(/etc.clientlibs/plweb-dsys/clientlibs/clientlib-site/resources/downCaret.svg);
        };
        .list{
            position: absolute;
            background: @textBodyDark;
            width: max-content;
            display: flex;
            flex-direction: column;
            gap: @8;
            align-items: baseline;
            box-shadow: @dropdown-box-shadow;
            opacity: @transparent;
            transition: opacity @long linear;
            padding: @4;
            display: none;
            top: 100%;
            transform: translateY(5px);
            z-index: @focus;
            min-width: 100%;
            .list-items{
                width: 100%;
                padding: @4;
                box-sizing: border-box;
                .ta-left;
                color: @textBodyLight;
            };
            .list-items:hover{
                background-color: @textBodyLight;
            };
        };
        .activate-list{
            display: block;
        };
        .show-list{
            opacity: @opaque;
        }
    });

    
    .element(dot-container,{
        display: flex;
        flex-direction: column;
        gap: 2px;
    });
    
    .element(dot-row-container,{
        display: flex;
        gap: 2px;
    });
    
    
    .element(dot,{
        border: 2px solid @textBodyDark;
        border-radius: 50%;
    });
    
    .element(nav-text,{
            .fw-700;
            line-height: 24px;
            margin-left: @8;
            color: @textBodyDark;
    });

    .modifier(site-name,{
        margin-left: @32;
    });

    @media @mediaTablet{
       display: none;
    }
    
    @media @mediaIEOnly {
        .list{
            left: 0px;
            width: auto;
            white-space: nowrap;
        }
        .element(dot-row-container,{
            margin-bottom: 2px;
        });
        .element(dot,{
            margin-left:2px ;
        })
    }

}