@import (reference) "/apps/plweb-dsys/clientlibs/clientlib-site/css/design-token-imports.less";
@import (reference) "/apps/plweb-dsys/clientlibs/clientlib-site/css/mixins.less";


.component-bar{
    color: #fff;
    font-size: @productMicrocopy;
    .montserrat;
    .fw-500;
    width: 100%;
    .ta-center;
    line-height: 12px;
    padding: @4 0;
}

.component-title-bar {
    background-color: @primaryDark; 
}

.component-end-bar{
    background-color: @primaryLight;
    color: @textBodyLight;
}

.component-border{
    border: 1.5px solid @primaryDark;
}