@import (reference) "/apps/plweb-dsys/clientlibs/clientlib-site/css/design-token-imports.less";
@import (reference) "/apps/plweb-dsys/clientlibs/clientlib-site/css/mixins.less";

@teal-color: rgba(16,129,136,1);

.aem-GridColumn {
    padding: 0 !important;
}
.dsys-button{
    display: flex;
    cursor: pointer;

    .modifier(center,{
        justify-content: center;
    });
    .modifier(right,{
        justify-content: right;
    });
    .element(main,{
        border-radius: @rounded;
        padding: @8 @16;
        text-decoration: none;
        font-family: 'Open Sans';
        line-height: 24px;
        .fw-700;
        .modifier(pbg-wc,{
            background-color: @primary;
            .dsys-button-text{
                color: @neutral0;
            }       
            &:hover{
                background-color: #082a47;
            }     
        });
    
        .modifier(b3bg-b9c,{
            background-color: @blue300;
            .dsys-button-text{
                color: @blue900;
            }   
            &:hover{
                background-color: #8dc6f794;
            }         
        });
    
        .modifier(tbg-pc,{
            background-color: transparent;
            border: 1px solid @primary;
            .dsys-button-text{
                color: @primary;
            }
            &:hover{
                background-color: @primary;   
                border: none;
                .dsys-button-text{
                    color: @textBodyDark;
                }
            }
        });
    
        .modifier(tbg-b1c,{
            background-color: transparent;
            border: 1px solid @blue100;
            .dsys-button-text{
                color: @blue100;
            }
            &:hover{
                background-color: @blue100;
                border: none;
                .dsys-button-text{
                    color: @primary;
                }

            }
        });
        
        
    });
        
    
}
 
.dsys-title{
    text-transform: capitalize;
    
    .modifier(center,{
        .ta-center;
    });
    .modifier(right,{
        .ta-right;
    });

    .title-heading-sup{
        vertical-align: super;
        margin-left: 5px;
        top: -0.2em;
    }
    
.dsys-title{
    
    .element(heading-h1,{
        .montserrat;
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 56px;
    });
    .element(heading-h2,{
        .montserrat;
        font-weight: 700;
        font-size: 2.25rem;
        line-height: 48px;
    });

    .element(heading-h3,{
        .montserrat;
        font-weight: 700;
        font-size: 1.75rem;
        line-height: 36px;
    });
   
    .element(subheading,{
        .montserrat;
        font-weight: 700;
        font-size: 1.75rem;
        line-height: 36px;

        .modifier(primaryDark,{
            color: @primaryDark;
        });
        .modifier(textBodyDark,{
            color: @textBodyDark;
        });

    });

    .modifier(primaryDark,{
        color: @primaryDark;
    });
    .modifier(textBodyDark,{
        color: @textBodyDark;
    });
}
}

.dsys-text{
    &.dsys-text{
        .openSans;
        .modifier(body,{
            font-size: @brandBody;  // 16px;
            line-height: 24px;
        });

        .modifier(caption ,{
            font-size: @brandCaption; //14.45px
            line-height: 24px;
        });

        .modifier(disclosure ,{
            font-size: @brandDisclosure; //14.45px
            line-height: 24px;
        });

        .modifier(microcopy,{
            font-size: @brandMicrocopy; //12.8px
            line-height: 16px;
        });

        .modifier(color-white, {
            color: #fff;
        });

        .modifier(color-black, {
            color: #000;
        });

        .modifier(color-teal, {
            color: @teal-color
        });
    }
}
.dsys-bgColor{
    .modifier(whiteColor, {
        background-color: @white;
    });
    
    .modifier(light-grey, {
        background-color: @textBodyDark;
    });
    
    .modifier(light-blue, {
        background-color: @primaryLight;
    });

    .modifier(transparent, {
        background-color: transparent;
    });
}

.dsys-icon{
    .element(search,{
        background-image: url(/etc.clientlibs/plweb-dsys/clientlibs/clientlib-site/resources/search.svg);
        height: 18px;
        width: 18px;
    })
}

.dsys-link {
    text-decoration: none;
    width: fit-content;
    position: relative;
  &:after {    
    content: '';
    height: 1px;
    width: 100%;
    transition: transform @long;
    background-color: @primary;
    transform: scaleX(0);
    transform-origin: center;
    position: absolute;
    left: 0;
    pointer-events: none;
    top: 100%;
  }
  &:hover { 
    color: @primary !important;  //Needed to override color given by the element's class
      &:after{
        transform: scaleX(1);
      }
  }
}
.dsys-border{
    .element(left,{
        border-left: 12px solid #005EAD;
    });
    .element(right,{
        border-right: 12px solid #005EAD;
    });
    .element(top,{
        border-top: 12px solid #005EAD;
    });
    .element(bottom,{
        border-bottom: 12px solid #005EAD;
    });

}
