@import (reference) "/apps/plweb-dsys/clientlibs/clientlib-site/css/design-token-imports.less";
@import (reference) "/apps/plweb-dsys/clientlibs/clientlib-site/css/mixins.less";

@teal-color: rgba(16,129,136,1);

.aem-GridColumn {
    padding: 0 !important;
}

.dsys-button{
    display: flex;
    .modifier(position-center,{
        justify-content: center;
    });
    .modifier(position-right,{
        justify-content: right;
    });
    .element(main,{
        border-radius: 4px;
        padding: 8px 16px;
        text-decoration: none;
        .modifier(primary,{
            background-color: #8DC6F7;
            .dsys-button-text{
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 1rem;
                line-height: 24px;
                color: #082A47;
            }
        });
        .modifier(secondary,{
            background-color: transparent;
            .dsys-button-text{
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 1rem;
                line-height: 24px;
                color: #E9F2FA;;
            }
        });
        
    });
}
 
.dsys-title{
    &.dsys-title{
        .modifier(textPosition-center,{
            text-align: center;
        });
        .modifier(textPosition-right,{
            text-align: right;
        });
    }
}

.dsys-text{
    &.dsys-text{
        .openSans;
        .modifier(body,{
            font-size: @brandBody;
            line-height: 24px;
        });

        .modifier(caption ,{
            font-size: @brandCaption;
            line-height: 24px;
        });

        .modifier(disclosure ,{
            font-size: @brandDisclosure;
            line-height: 24px;
        });

        .modifier(microcopy,{
            font-size: @brandMicrocopy;
            line-height: 16px;
        });

        .modifier(color-white, {
            color: #fff;
        });

        .modifier(color-black, {
            color: #000;
        });

        .modifier(color-teal, {
            color: @teal-color
        });
    }
}
.dsys-bgColor{
    .modifier(whiteColor, {
        background-color: @white;
    });
    
    .modifier(light-grey, {
        background-color: @textBodyDark;
    });
    
    .modifier(light-blue, {
        background-color: @primaryLight;
    });

    .modifier(transparent, {
        background-color: transparent;
    });
}

.dsys-icon{
    .element(search,{
        background-image: url(/etc.clientlibs/plweb-dsys/clientlibs/clientlib-site/resources/search.svg);
        height: 18px;
        width: 18px;
    })
}

.dsys-link {
    text-decoration: none;
    width: fit-content;
    position: relative;
  
  &:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background-color: @blue600;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  &:hover:after { 
    width: 100%; 
    left: 0; 
  }
}
