@import (reference) "/apps/plweb-dsys/clientlibs/clientlib-site/css/design-token-imports.less";
@import (reference) "/apps/plweb-dsys/clientlibs/clientlib-site/css/mixins.less";

h1{
    .fw-700;
    .montserrat;
    font-size: 2.5rem;
    line-height: 56px;
}
h2{
    .fw-700;
    .montserrat;
    font-size: 2.25rem;
    line-height: 48px;
}
h3{
    .fw-700;
    .montserrat;
    font-size: 1.75rem;
    line-height: 36px;
}
h4{
    .fw-700;
    .montserrat;
    font-size: @brandH4; //18.01px
    line-height: 28px;
}
a{
    text-decoration: none;
    color: @primary;
    cursor: pointer;
}

body {
    .openSans;
   font-size: @brandBody;
   .fw-400;
   line-height: 1.5;
   color: @textBodyLight;
}