<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"
    data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
    data-sly-call="${clientlib.all @ categories='plweb-dsys.intro-header-v2'}" />

<div class="intro-header-v2 intro-header-v2--bg-color-${properties.bgColor}">
    <div class="dsys-title ${properties.alignments == 'right' ? 'dsys-title--textPosition-right' : ''}
            ${properties.alignments == 'center' ? 'dsys-title--textPosition-center' : ''} ">
        <h1 data-sly-element="${properties.type}" class="dsys-title__heading" style="color: ${properties.titleColor @context='styleString'};">${properties.title}</h1>
        <h3 class="dsys-title__subheading" style="color: ${properties.titleColor @context='styleString'};">${properties.subTitle}</h3>
    </div>
    <div class="button-container">
        <div style="float: left; margin-right: 10px;" class="dsys-button ${properties.button1btnPos == 'btn-center' ? 'dsys-button--position-center' : ''} ${properties.button1btnPos == 'btn-right' ? 'dsys-button--position-right' : ''}">
            <a class="dsys-button__main 
            ${properties.button1btnstyle == 'primary' ? 'dsys-button__main--primary' : 'dsys-button__main--secondary'}" 
            href="${properties.button1link}" target="${properties.button1linkTarget == '_blank' ? '_blank' : ''}">
                <span class="dsys-button-text" data-sly-test="${properties.button1text}">${properties.button1text}</span>
            </a>
        
        </div>

        <div style="float: left;" class="dsys-button ${properties.button2btnPos == 'btn-center' ? 'dsys-button--position-center' : ''} ${properties.button2btnPos == 'btn-right' ? 'dsys-button--position-right' : ''}">
            <a class="dsys-button__main 
            ${properties.button2btnstyle == 'primary' ? 'dsys-button__main--primary' : 'dsys-button__main--secondary'}" 
            href="${properties.button2link}" target="${properties.button2linkTarget == '_blank' ? '_blank' : ''}">
                <span class="dsys-button-text" data-sly-test="${properties.button2text}">${properties.button2text}</span>
            </a>
        
        </div>
</div>
</div>