@import (reference) "/apps/plweb-dsys/clientlibs/clientlib-site/css/design-token-imports.less";
@import (reference) "/apps/plweb-dsys/clientlibs/clientlib-site/css/mixins.less";

@teal: rgba(16,129,136,1);
@primary-text-color : @blue600;;

.team-gallery {

    .element(sub-heading,{
        line-height: 24px;
        .ta-center;
        .openSans;
    });

    .element(main,{
        margin-top: @64;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        box-sizing: border-box;
        list-style-type: none;
    });
    .element(container,{
        width: 25%;
        .ta-center;
        margin-bottom: @8;
        padding-right: @32;
        margin-left: -2rem;
        box-sizing: border-box;
    });

    .element(avatar,{
        margin-bottom: @24;
        height: 171px;
        width: 171px;
        object-fit: cover;
        border-radius: 50%;
    });
    .element(name,{
        font-size: 18.06px;
        .fw-700;
        line-height: 28px;
        .ta-center;
        .montserrat;
        color: @neutral1000;
        a{
            text-decoration: none;
            color: @primary-text-color;
        }
    });
    .element(position,{
        line-height: 24px;
        .ta-center;
        .openSans;
    });
    .modifier(teal-color,{
        a{
            color: @teal;
        }
    });

    @media @mediaXS {

        .element(main,{
           flex-direction: column;
           margin-top: @32;
        });
        .element(container,{
            width: 100%;
            margin-bottom: 0.5rem;
            .ta-left;
            padding-right: 0;
            padding-bottom: 1rem;
            align-items: center;
            display: flex;
            box-sizing: border-box;
        });

        .element(avatar,{
            margin-right: @24;
            width: 83px;
            height: 83px;
            margin-bottom: 0;
        });
        .element(name,{
            font-size: 16px;
            line-height: 24px;
            .openSans;
            .ta-left;
        });
        .element(position,{
            font-size: 14.45px;
            line-height: 24px;
            .ta-left;
            overflow: hidden;
        });
    }

    @media @mediaSMOnly {
        .element(main,{
            gap: 20%;
         });
         .element(container,{
             flex: 1;
             margin-bottom: 1.5rem;
         });
    }

    @media @mediaMDOnly {
        .element(main,{
            gap: 10%;
         });
         .element(container,{
             flex: 1;
             margin-bottom: 1.5rem;
         });
    }

}